<div class="page-header"><h1>Uploads</h1></div>

<table>
  <tr>
    <th>Filename</th>
    <th>Delete In (Days)</th>
    <th>Delete On (Date)</th>
    <th>Track Clicks?</th>
    <th>Clicks Counted</th>
    <th>Max Clicks</th>
    <th>MD5 Hash</th>
    <th>SHA256 Hash</th>
  </tr>
 
  <% @uploads.each do |upload| %>
    <tr>
      <td><%= upload.filename %></td>
      <td><%= upload.delete_in %></td>
      <td><%= upload.delete_on %></td>
      <td><%= upload.track_clicks %></td>
      <td><%= upload.click_count %></td>
      <td><%= upload.click_limit %></td>
      <td><%= upload.md5_hash %></td>
      <td><%= upload.sha256_hash %></td>
      <td><%= link_to "Delete", upload_path(upload), method: :delete, data: {confirm: "Are you sure?"} %></td>
      <td><%= link_to "Download", upload %></td>
    </tr>
  <% end %>
</table>
 
<br>
