<div class="page-header"><h1>New Upload</h1></div>

<%= form_for @upload do |f| %>
  <%= render 'shared/errors', object: @upload %>

  <div class="form-group">
    <%= f.label :filename %>
    <%= f.text_field :filename, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :upload %>
    <%= f.file_field :upload, class: 'form-control' %>
  </div>

  <%= f.submit 'Upload', class: 'btn btn-default btn-lg' %>
<% end %>
