<div class="page-header"><h1>New Upload</h1></div></br>

<%= form_for @upload do |f| %>
  <%= render 'shared/errors', object: @upload %>

  <div class="form-inline">
    <div class="form-group">
      <%= f.file_field :upload, class: 'form-control-file' %>
    </div>
  </div>

  </br>

  <div class="form-group">
    <%= f.label :delete_in, "Days until deletion\n(Default is 14)" %>
    <%= f.number_field :delete_in, min: 1, max: 90, class: 'form-control' %>
  </div>

  </br>

  <div class="form-group">
    <%= f.label :track_clicks, "Track clicks?" %>
    <%= f.check_box :track_clicks, {} %>
    <div id="click_set" style="display:none;">
      <%= f.label :click_limit %>
      <%= f.number_field :click_limit, min:1, max: 2000, class: 'form-control' %>
    </div>
  </div>

  <%= f.submit 'Upload', class: 'btn btn-default btn-lg' %>
<% end %>

<!-- Show click limit setting form if checkbox is checked -->
<script type="text/javascript">
  var checkbox = document.getElementById('upload_track_clicks');
  var details_div = document.getElementById('click_set');
  checkbox.onchange = function() {
    if(this.checked) {
      details_div.style['display'] = 'block';
    } else {
      details_div.style['display'] = 'none';
    }
  };
</script>
